/* Resetting default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #18d8c2;
    color: #fff;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 3rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size:30px ;
}

.hero {
    text-align: center;
    padding: 100px 0;
    background-color: #f4f4f4;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1dcbb4;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.services {
    padding: 50px 0;
    text-align: center;
}

.service-card {
    background-color: #f4f4f4;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.service-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.footer-content {
    background-color: #34cebe;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-links {
    list-style: none;
}

.footer-links li {
    display: inline;
    margin-right: 10px;
}

.footer-links li a {
    color: #fff;
    text-decoration: none;
}
